#logo {
    margin-bottom: -30px;
}

#login-background {
    background-image: url("../src/images/about-university-manitoba-bannatyne-campus-01b_0.jpg");
    height: 50vh;
    background-position: center;
}

#carousel {
    margin-top: -63px;
}

#carousel-h1 {
    background-color: #6b7069;
}

#navbar {
    z-index: 1;
    position: absolute;
    height: max-content;
    padding-bottom: 100px;
}

#user-picture {
    border-radius: 50%;
}